@model WMS.Models.ApprovedOT

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApprovedOT</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OTMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OTMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApprovedMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApprovedMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpDate }) |
    @Html.ActionLink("Back to List", "Index")
</p>
